
body {
  padding: 6em 0; 
  font-family: 'Special Elite', serif;
  background-color: black;
}

.titlebox {
  width: 40%;
  margin: auto;
  padding: 5px 40px 5px 40px;
  margin-bottom: 20px;
  border-radius: 1%;
  background-color: white;
  text-align: center;
  font-size: 1.75em;
}

.quotebox {
  width: 40%;
  margin: auto;
  padding: 5px 40px 20px 40px;
  border-radius: 1%;
  background-color: white;
}

.chucktainer {
  text-align: center;
  font-size: 1.25em;
}

.buttons {
  display: inline-block;
  position: relative;
  width: 100%;
  background-color: white;
  margin-top: 20px;
}

.buttons .button {
  cursor: pointer;
  border: none;
  padding: 10px 16px;
  border-radius: 5%;
  outline: none;
  font-family: 'Special Elite', serif;
  color: black;
}

.buttons .button:hover {
  opacity: 0.8;
  outline: none;
}

.buttons .button:focus
.buttons .button:active {
  border: none; 
  outline: none;
}

#tweet {
  float: left;
  color: black;
}

#newchuck {
  float: right;
  background-color: white;
  border: 1px solid black;
}

.footer {
  color: white;
  text-align: center;
  margin: auto;
}

.footer a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}
